@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-playfair {
  font-family: "Roboto", sans-serif;
}

.font-poppins {
  font-family: "Work Sans", sans-serif;
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeIn 0.6s ease-out forwards;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.tech-item {
  animation: fadeIn 0.6s ease-out forwards;
  opacity: 0;
}

.tech-item:nth-child(1) { animation-delay: 1s; }
.tech-item:nth-child(2) { animation-delay: 1s; }
.tech-item:nth-child(3) { animation-delay: 1s; }
.tech-item:nth-child(4) { animation-delay: 1s; }
.tech-item:nth-child(5) { animation-delay: 1s; }
.tech-item:nth-child(6) { animation-delay: 1s; }
.tech-item:nth-child(7) { animation-delay: 2s; }
.tech-item:nth-child(8) { animation-delay: 2s; }
.tech-item:nth-child(9) { animation-delay: 2s; }
.tech-item:nth-child(10) { animation-delay: 2s; }
.tech-item:nth-child(11) { animation-delay: 2s; }
.tech-item:nth-child(12) { animation-delay: 2s; }
.tech-item:nth-child(13) { animation-delay: 3s; }
.tech-item:nth-child(14) { animation-delay: 3s; }
.tech-item:nth-child(15) { animation-delay: 3s; }
.tech-item:nth-child(16) { animation-delay: 3s; }
.tech-item:nth-child(17) { animation-delay: 3s; }
.tech-item:nth-child(18) { animation-delay: 3s; }

